.brand-logo{
	margin-left: 30px;
}
.signUpForm{
	margin-top: 10%;
}
.formRow{
	text-align: center;
}
.side-nav{
	transform: translateX(0px) !important;
	margin-top: 65px !important;
	width: 210px !important;
}
.sideBarLinks{
	font-size: 16px !important;
	text-decoration: none !important;
}
.rateLink{
	font-size: 15px !important;
}
.selected{
	background-color: #eee;
}
.mainBody{
	margin-left: 240px;
	margin-top: 20px;
}
.assetsList{
	margin-top: 20px;
}
.createFormDiv{
	width: 50%;
	margin-top: 30px;
	margin-bottom: 20px;
}
.input-field.col label{
	left: 0 !important;
}
.paramRow .input-field.col label{
	left: .75rem !important;
}
.userDiv{
	display: none;
	margin-top: 20px;
}
.heading{
	font-size: 18px;
	font-weight: bold;
}
.publicKey{
	font-size: 16px;
}
.download{
	margin-top: 20px;
}
.assetValues{
	font-weight: bold;
	font-size: 16px;
}
.checkUserDiv, .selectUserDiv{
	text-align: center;
	margin-top: 10%;
}
.returnUserCheck, .departmentClick{
	margin-bottom: 20px;
}
.metamaskHelpDiv{
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20px;
}
img{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
}
.partHeading{
	font-size: 18px;
	background-color: #eee;
    padding: 5px;
}
.stepNumber{
	font-size: 16px;
    font-weight: bold;
}
.stepText{
	margin-bottom: 20px;
	font-size: 16px;
}
.nextBtnDiv{
	text-align: center;
}
.checkUserDiv{
	display: none;
}
